<div class="page-download">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5">
        <div class="thumb-carousel">
          Carousel
        </div>
      </div>
      <div class="col-12 col-md-7">
        <div class="content">
          <div class="meta row">
            <div class="col-12 col-md-8">
              <div class="title">
                <h3>Hungarian Database</h3>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="share">
                <a href="#">
                  Share this item
                  <fa-icon [icon]="faShareAlt"></fa-icon>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="caption">
                <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.</p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 col-md-4">
              <div class="buy-now-btn">
                <a href="#">
                  <fa-icon [icon]="faFileDownload"></fa-icon>
                  Download
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="release-notes">
          <div class="title-area">
            <h4>Releases</h4>
          </div>
          <div class="content-area">
            <h3>v1.0.0</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>